@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(245, 244, 242);
}

.slider::before {
    position: absolute;
    content: "Mail";
    height: 38px;
    width: 100px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(197, 196, 196);
    transition: 0.4s;
    border-radius: 50px;
    text-align: center;

}

input:checked+.slider::before {
    transform: translateX(108px);
}

.glowing-btn {

    /* color: yellow; */
    cursor: pointer;

    /* border: 0.15em solid yellow; */
    /* border-radius: 0.45em; */
    /* background: none; */
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    /* font-size: 2em; */
    font-weight: 900;
    letter-spacing: 1em;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px yellow,
        0px 0px 0.5em 0px yellow;
    -moz-box-shadow: inset 0px 0px 0.5em 0px yellow,
        0px 0px 0.5em 0px yellow;
    box-shadow: inset 0px 0px 0.5em 0px yellow,
        0px 0px 0.5em 0px yellow;
    animation: border-flicker 2s linear infinite;
}