@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(245, 244, 242);
}

.slider::before {
    position: absolute;
    content: "Mail";
    height: 38px;
    width: 100px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(197, 196, 196);
    transition: 0.4s;
    border-radius: 50px;
    text-align: center;

}

input:checked+.slider::before {
    transform: translateX(108px);
}